akka {
	actor {
		provider = cluster
	}
            
	remote {
		dot-netty.tcp {
			hostname = "127.0.0.1"
			port = @PORT
			maximum-frame-size = 30000000b
		}
	}            

	cluster {
		#will inject this node as a self-seed node at run-time
		seed-nodes = [@SEEDHOSTS] 
		roles = [crawler]
	}
}