akka {
    actor.provider = cluster
    remote {
        dot-netty.tcp {
            port = @PORT
            hostname = localhost
        }
    }
    cluster {
        seed-nodes = [@SEEDHOSTS]
    }
}

