################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningApi/src/DataProviders/CsvDataProvider/bin
/LearningApi/src/DataProviders/CsvDataProvider/obj
/LearningApi/src/LearningApi/obj/Debug/netstandard1.2
/LearningApi/src/LearningApi/bin/Debug/netstandard1.2
/LearningApi/src/MLAlgorithms/AnomDetect.KMeans/bin
/LearningApi/src/MLAlgorithms/AnomDetect.KMeans/obj
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNet.BackPropagation/bin
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNet.BackPropagation/obj
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/bin
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/obj
/LearningApi/src/UnitTests/bin
/LearningApi/src/UnitTests/obj
/LearningApi/test/bin
/LearningApi/test/obj
/LearningApi/.vs
