################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningApi/src/DataProviders/CsvDataProvider/bin/Debug
/LearningApi/src/DataProviders/CsvDataProvider/obj/Debug
/LearningApi/src/MLAlgorithms/AnomDetect.KMeans/bin/
/LearningApi/src/MLAlgorithms/AnomDetect.KMeans/obj/
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNet.BackPropagation/bin/
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNet.BackPropagation/obj/
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/bin/
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/obj/
/LearningApi/src/LearningApi/bin
/LearningApi/src/LearningApi/obj
/LearningApi/LearningApi/.vs
/LearningApi/src/LearningApi/.vs
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/obj
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/bin
/LearningApi/LearningApi/test/UnitTests/obj
/LearningApi/LearningApi/test/UnitTests/bin

/LearningApi/.vs/LearningApi/v14
LearningApi/test/bin/
LearningApi/test/obj/
LearningApi/test/bin/*
LearningApi/test/obj/*

/LearningApi/.vs
/LearningApi/test/obj
/LearningApi/test/bin
/LearningApi/src/Normalizers/MinMaxNormalizer/bin/*
/LearningApi/src/Normalizers/MinMaxNormalizer/obj/*
/LearningApi/src/Normalizers/GaussNormalizer/bin/*
/LearningApi/src/Normalizers/GaussNormalizer/obj/*
/LearningApi/src/CannyEdgeDetector/obj/*
/LearningApi/src/CannyEdgeDetector/bin/*
/LearningApi/test/scaling features/~$precalculated_samples.xlsx
/LearningApi/test/sample_data/iris/~$iris.xlsx
/LearningApi/src/MLAlgorithms/LogisticRegression/bin/Debug/netstandard1.2
