################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningApi/src/DataProviders/CsvDataProvider/bin/Debug
/LearningApi/src/DataProviders/CsvDataProvider/obj/Debug
/LearningApi/src/MLAlgorithms/AnomDetect.KMeans/bin/
/LearningApi/src/MLAlgorithms/AnomDetect.KMeans/obj/
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNet.BackPropagation/bin/
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNet.BackPropagation/obj/
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/bin/
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/obj/
/LearningApi/src/LearningApi/bin
/LearningApi/src/LearningApi/obj
/LearningApi/LearningApi/.vs
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/obj
/LearningApi/src/MLAlgorithms/NeuralNetworks/NeuralNetworks.Core/bin
/LearningApi/src/UnitTests/obj
/LearningApi/src/UnitTests/bin
